<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <title>Document</title>
</head>
<body>
   <div id="wind">

       <div id="form_id">
           <form method="POST">
               <div id="texts"><label for="">Login: </label><br><br>
                   <label for="">Password: </label></div>
                   <div id="inps">
                   </label><input name="login" id="login" class="login" type="text">    <br><br>
                   </label><input name="password" id="password" class="login" type="password">
                   </div>
                   <div id="but"><input id="btno" type="submit" value="Войти"></div>
           </form>

</div>
</div> 
</body>
</html>
